@import "font";
@include font-face(gothamBook,'/assets/fonts/gotham/book/gotham-book', null, null, eot  svg );
@include font-face(gothamBold,'/assets/fonts/gotham/bold/gotham-bold',null, null, eot  svg );
@include font-face(gothamMedium,'/assets/fonts/gotham/medium/gotham-medium',null, null, eot otf svg woff woff2);

$textColor: #3C3C3C;
#app {
  position: relative;
  font-family: gothamBook;
  color: $textColor;
}
a{
  text-decoration: none;
  color: $textColor;
}
h1{
  font-family: gothamBold;
  font-size: 3em;
  opacity: 0.1;
  margin-top: 1em;
  margin-left: 20px;
  margin-bottom: 0.5em;
  line-height: 0;
}
h2, h3,h4{
  font-family: gothamBold;
}
